version: 2.1

jobs:
  lint-test-build:
    docker:
      - image: cimg/node:20.18
    steps:
      - checkout
      - restore_cache:
          keys:
            - node-deps-v1-{{ checksum "package-lock.json" }}
      - run:
          name: Install dependencies
          command: npm ci
      - save_cache:
          key: node-deps-v1-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: Lint
          command: npm run lint
      - run:
          name: Test
          command: npx vitest run --reporter=junit --outputFile=./test-results/junit.xml
      - store_test_results:
          path: ./test-results
      - run:
          name: Build
          command: npm run build
      - store_artifacts:
          path: docs
          destination: build

workflows:
  ci:
    jobs:
      - lint-test-build
