version: 2.1

jobs:
  install:
    docker:
      - image: cimg/node:22.12
    steps:
      - checkout
      - restore_cache:
          keys:
            - node-deps-v1-{{ checksum "package-lock.json" }}
      - run:
          name: Install dependencies
          command: npm ci
      - save_cache:
          key: node-deps-v1-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - persist_to_workspace:
          root: .
          paths:
            - node_modules

  lint:
    docker:
      - image: cimg/node:22.12
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Lint
          command: npm run lint

  test:
    docker:
      - image: cimg/node:22.12
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Test
          command: npx vitest run --reporter=junit --outputFile=./test-results/junit.xml
      - store_test_results:
          path: ./test-results

  coverage:
    docker:
      - image: cimg/node:22.12
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Coverage
          command: npm run coverage
      - store_artifacts:
          path: coverage
          destination: coverage

  build:
    docker:
      - image: cimg/node:22.12
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Build
          command: npm run build
      - store_artifacts:
          path: docs
          destination: build

workflows:
  ci:
    jobs:
      - install
      - lint:
          requires:
            - install
      - test:
          requires:
            - install
      - coverage:
          requires:
            - install
      - build:
          requires:
            - lint
            - test
