.list-group-item {
    transition: background-color 200ms ease;
    height: 80px;
}

.text-x-small {
    font-size: x-small;
}

.tooltip-wide {
    --bs-tooltip-opacity: 1 !important;

    .tooltip-inner {
        padding: 12px 16px;
        max-width: 500px;

        ol {
            text-align: start;
        }
    }
}
