.status-filter-menu {
    min-width: 320px;
}

.status-filter-item {
    white-space: nowrap;
    padding-block: 0.1rem;
}

.status-filter-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1rem;
}

.status-filter-category-btn {
    text-align: left;
    font-size: 0.8rem;
}

