.project-header-toggle {
  cursor: pointer;
  user-select: none;
}

.chevron-icon {
    width: 12px;
    transition: transform 0.25s ease;
    transform: rotate(0deg);
}

.project-header-toggle:hover .chevron-icon {
    transform: rotate(45deg);
}

.chevron-icon--open {
    transform: rotate(90deg);
}

.project-header-toggle:hover .chevron-icon--open {
    transform: rotate(90deg);
}

.text-decoration-none {
  --bs-link-decoration: none;
  text-decoration: none !important;

}