.card {
    max-width: 250px;
}

.card-header {
    background-color: var(--bs-card-bg) !important;
}

.card-header-details {
    font-size: small;
}

.card-title {
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-text {
    font-size: small;
}

.card-details {
    font-size: x-small;
}

.card-footer {
    height: 60px;
}