.nav-link {
  cursor: pointer;
}

.github-link,
.theme-toggle {
  color: var(--bs-white) !important;
  transition: color 0.2s ease;
  background: none;
  border: none;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);

  &:hover {
    color: var(--bs-secondary) !important;
  }
}

.navbar-nav--wrap {
  width: 100%;

  @media (min-width: 576px) {
    width: auto;
  }
}
