.nav-link {
  cursor: pointer;
}

.github-link {
  color: var(--bs-white) !important;
  transition: color 0.2s ease;

  &:hover {
    color: var(--bs-secondary) !important;
  }
}

.navbar-nav--wrap {
  width: 100%;

  @media (min-width: 576px) {
    width: auto;
  }
}
