:root {
    --bs-border-radius: 1px;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100svh;
    overflow-x: hidden;
}

#root {
    width: 100%;
    min-height: 100svh;
}

#app {
    height: 100svh;
    display: flex;
    flex-flow: column;
}

.app-scroll-container {
    height: 100%;
    overflow-y: scroll;
}

.collapsible-grid {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.3s ease;
}

.collapsible-grid--collapsed {
    grid-template-rows: 0fr;
}

.collapsible-grid__inner {
    overflow: hidden;
}
