.card-text {
    font-size: small;
    height: 100px;
    overflow-y: auto;
}

.job-avatar {
    border-radius: 100%;
    width: 16px;
}

.card-body--list {

    p.card-text {
        height: auto;
        overflow-y: visible;
        margin-bottom: 0.25rem;
    }
}
