.card-header {
    background-color: var(--bs-card-bg) !important;
}

.card-header-details {
    font-size: small;

    &.card-details-job-status {
        text-align: center;
    }
}

.card-title {
    // height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.job-menu-trigger {
    float: right;
    cursor: pointer;
}

.job-status-inline {
    //float: right;
    align-self: center;
    display: inline-flex;
    align-items: center;
}
