.card {
    max-width: 250px;
    border-width: 1px;
    box-shadow: none;
}

.card--list {
    max-width: 100%;
}

.card--compact {
    max-width: 100%;

    .card-header {
        border-bottom: 0;
    }
}

.card-details {
    font-size: x-small;
}
